@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  background-image: url("assets/bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

/*Dark Mode ScrollBar*/
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}